.menu{
    display: flex;
    font-family: 'Lato', sans-serif;
    align-items: center;
    justify-content: center;
}
.laptop{
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px;
    padding-top: 20px;
    width: 450px;
    padding-left: 20px;
    
}
.by{
    margin-top: -20px;
}
#lp2{
    width: 400px ;
    height: 300px;
    padding-block: 35px;
}
#lp1{
    width: 38ßpx ;
    height: 370px;
}

.price{
    color: rgb(167, 89, 29);
}
ul{
    list-style-type: none;
    background-color: rgb(232, 227, 227);
    padding-block: 20px;
    padding-inline: 20px;
    margin-right: 20px;
}
.Buy{
    display: flex;
    color: blueviolet;
    font-weight: bold;
    gap: 10px;
    
}
.back{
    font-style: italic;
    font-size: small;
}
:hover .Buy{
    cursor: pointer;
}
:hover .back{
    cursor: pointer;
}
